#comments {
	font-size: 15px;
	margin-top: 47px;
}
#comments div {
	text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 3px;
}
#comments .ds-highlight {
	color: #FFCC00;
	text-shadow:0px 0px 3px #FF0000;
}
#comments #ds-thread #ds-reset .ds-meta {
	background-color: #444444;
	margin-left: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,.1);

	-moz-border-radius:1em; -webkit-border-radius:1em; 	border-radius:1em;
	width: 250px;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}
#comments #ds-thread #ds-reset .ds-meta .ds-like-thread-button{
	-moz-border-radius:10px; -webkit-border-radius:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
	border-radius:10px;
	background-color: #555555;
	margin-right: 7px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

#comments #ds-thread #ds-reset .ds-meta .ds-like-thread-button:hover{
	box-shadow:0px 0px 5px #E0FF96;
}

#comments #ds-thread .ds-like-panel {
	padding-left: 12px;
	color: #FFFFFF;
}
#comments #ds-thread .ds-sort {
	font-size: 13px;
	float: right;
	padding-right: 125px;
}

#comments #ds-thread .ds-sort a {
	margin-left: 15px;
	padding: 12px;
}

#comments #ds-thread .ds-sort .ds-current {
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.5);
	-moz-border-radius:1em; -webkit-border-radius:1em; border-radius:1em;
	background-color: #444444;
	color: #FFCC14;
}
#comments #ds-thread .ds-comments-info {
	height: 45px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-bottom-style: groove;
	border-top-color: #444444;
	border-right-color: #444444;
	border-bottom-color: #444444;
	border-left-color: #444444;
}

#comments #ds-thread .ds-post-self {
	border: 1px solid #444444;
	border-radius:1em;
	box-shadow: inset 0 3px 10px rgba(122,122,122,.1), 0 3px 10px rgba(0,0,0,.1);
	max-width: 800px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#comments #ds-thread .ds-post-self p {
	font-size: 16px;
	color: #FFFFFF;
}
#comments #ds-thread .ds-powered-by a {
	color: #444444;
	font-size: 10px;
}
