<div id="title">
    <div class="title">MOsky的博客</div>
    <div class="button">
        {% if page.belongs_to == "home" %}
            <span class="ele">主页</span>
        {% else %}
            <a href="/" class="ele">主页</a>
        {% endif %}
        {% if page.belongs_to == "about" %}
            <span class="ele">关于我</span>
        {% else %}
            <a href="/about.html" class="ele">关于我</a>
        {% endif %}
        {% if page.belongs_to %}{% else %}
            <span class="ele">文章内容</span>
        {% endif %}
    </div>
</div>