<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include header.html %}
	</head>
<body>
	{% include titler.html %}
	<div class="center">
		<div id="post-list">
		{% for post in paginator.posts %}
			<div class="buble-container">
				<div class="title"><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></div>
				<div class="content"><a href="{{ post.url }}" target="_blank">
				{{ post.content | strip_html | truncate :200 }}
				</a></div>
			</div>
		{% endfor %}
		<div id="pagination" class="button-box">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
				<span class="click" onclick="clickButton('/');">&lt;&lt;</span>
				{% else %}
				<span class="click" target="_blank" onclick="clickButton('/page{{ paginator.previous_page }}');">&lt;&lt;</span>
				{% endif %}
			{% else %}
			<span class="disable">&lt;&lt;</span>
			{% endif %}
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
				<span class="current">{{ page }}</span>
				{% elsif page == 1 %}
				<span class="click" onclick="clickButton('/');">1</span>
				{% else %}
				<span class="click" onclick="clickButton('/page{{ page }}');">{{ page }}</span>
				{% endif %}
			{% endfor %}
			{% if paginator.next_page %}
			<span class="click" onclick="clickButton('/page{{ paginator.next_page }}');">&gt;&gt;</span>
			{% else %}
			<span class="disable">&gt;&gt;</span>
			{% endif %}
		</div>
			<script>
				function clickButton(url) {
					window.location.href = url;
				};
			</script>
		</div>
	</div>
	{% include footer.html %}
</body>
