<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% include header.html %}
        <script src="/public/js/article2.js" type="text/javascript"></script>
	</head>
<body>
    <div id="left-page">
		<div class="blank"></div>
	</div>
	<div id="right-page">
		<div id="index">
			<div class="title">目录</div>
			<div class="list">
			</div>
		</div>
    </div>
    <div id="center-page">
        {% include titler.html %}
        <div id="article" class="buble-container">
            <div class="title can-select">{{ page.title}}</div>
			{% if page.article_type == 'repost' %}
			<div class="declare" ref="nofollow">本文属转载，{% if page.author %}作者{{ page.author }}，{% endif %}点击<a href="{{ page.source}}" target="_blank" >这里</a>查看原文。</div>
			{% endif %}
            {% if page.article_type == 'translation'%}
			<div class="declare" ref="nofollow">翻译贴，{% if page.author %}原文作者{{ page.author }}，{% endif %}点击<a href="{{ page.source}}" target="_blank" >这里</a>查看原文。</div>
			{% endif %}
			<div class="content can-select">
			{{ content }}
			</div>
			<div class="content can-select">
			{{ content }}
			</div>
            <div id="comments">
            <!-- Duoshuo Comment BEGIN -->
                <div class="ds-thread"></div>
                <script type="text/javascript">
                    var duoshuoQuery = {short_name:"taozeyu"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = 'http://static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
            </div>
        </div>
    </div>
</body>
</html>